#body-types-of-solution{
     position: relative;

    width: 90vw;   
    height: 90vh;  
    transform: translate(-5%, -5%);
  

}

#div-select {
    position: absolute;       
    top: 16px;             
    left: 50%;        
        
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;     
    gap: 7px; 

}

#p-type{
    margin: 0;


}

#select-type{
  height: 25px;
}

#file-uploader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;

}




